input {
  margin-bottom: 1rem;
}

.invalid-feedback {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.item-css {
  margin-top: 1rem;
}

.item-css-first {
  margin-top: 0;
}

.important {
  color: #c00;
}

label {
  font-weight: bold;
}

textarea {
  margin-bottom: 1rem;
}

#productType {
  margin-bottom: 1rem;
}
