<div class="container">
  <h2>Активни отстъпки</h2>
  <table
    *ngIf="discountsAvailable.length > 0"
    class="table table-bordered table-hover"
  >
    <thead class="table-danger">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Код</th>
        <th scope="col">Процент</th>
        <th scope="col">Валиден от</th>
        <th scope="col">Валиден до</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of discountsAvailable; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ discount.code }}</td>
        <td>{{ discount.percentage }}</td>
        <td>{{ discount.startDate }}</td>
        <td>{{ discount.expirationDate }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Предстоящи отстъпки</h2>
  <table
    *ngIf="discountsUpcoming.length > 0"
    class="table table-bordered table-hover"
  >
    <thead class="table-danger">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Код</th>
        <th scope="col">Процент</th>
        <th scope="col">Валиден от</th>
        <th scope="col">Валиден до</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of discountsUpcoming; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ discount.code }}</td>
        <td>{{ discount.percentage }}</td>
        <td>{{ discount.startDate }}</td>
        <td>{{ discount.expirationDate }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="btn-wrapper">
  <button
    type="button"
    class="btn btn-success"
    data-toggle="modal"
    data-target="#exampleModal"
    (click)="openAddDiscountModal()"
  >
    Добави
  </button>
</div>
