<div class="container">
  <button (click)="selectProductType(null)" class="btn btn-hover" type="button">
    Всичко
  </button>
  <button
    (click)="selectProductType(productType.Salad)"
    class="btn btn-hover"
    type="button"
  >
    Салати
  </button>
  <button
    (click)="selectProductType(productType.Starter)"
    class="btn btn-hover"
    type="button"
  >
    Предястия
  </button>
  <button
    (click)="selectProductType(productType.Main)"
    class="btn btn-hover"
    type="button"
  >
    Основни
  </button>
  <button
    (click)="selectProductType(productType.Seafood)"
    class="btn btn-hover"
    type="button"
  >
    Морски дарове
  </button>
  <button
    (click)="selectProductType(productType.Bread)"
    class="btn btn-hover"
    type="button"
  >
    Хляб
  </button>
  <button
    (click)="selectProductType(productType.Dessert)"
    class="btn btn-hover"
    type="button"
  >
    Десерти
  </button>
  <button
    (click)="selectProductType(productType.Children)"
    class="btn btn-hover"
    type="button"
  >
    Детско меню
  </button>
</div>
