<div class="container">
  <h2>Количка</h2>
  <p
    *ngIf="
      userService.currentUser == null || !orderItems || orderItems.length == 0
    "
    class="empty-shopping-cart"
  >
    Вашата количка е празна
  </p>
  <ul *ngIf="userService.currentUser != null" class="list-group">
    <li *ngFor="let orderItem of orderItems" class="list-group-item">
      <div class="line-container">
        <div class="order-item-info-left">
          <img [src]="constructProductImageUrl(orderItem.product.id)" alt="" />
          <h4>{{ orderItem.product.name }}</h4>
        </div>
        <div class="order-item-info-right">
          <div class="quantity">
            <button
              class="btn btn-outline-success btn-sm btn-add-remove"
              (click)="
                decreaseOrderItemQuantity(
                  orderItem.id,
                  orderItem.productQuantity
                )
              "
            >
              <i class="fa-solid fa-minus"></i>
            </button>
            <input
              class="add-qty"
              type="text"
              [(ngModel)]="orderItem.productQuantity"
              readonly=""
            />
            <button
              class="btn btn-outline-success btn-sm btn-add-remove"
              (click)="
                increaseOrderItemQuantity(
                  orderItem.id,
                  orderItem.productQuantity
                )
              "
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <p>X {{ orderItem.product.price }} лв.</p>
          <button
            class="btn btn-outline-danger btn-sm btn-add-remove"
            (click)="deleteOrderItem(orderItem.id)"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div
    *ngIf="
      userService.currentUser != null && orderItems && orderItems.length != 0
    "
    class="price-info"
  >
    <div
      *ngIf="discount.percentage != 0 && discount.percentage != null"
      class="total-price"
    >
      <p>Отстъпка: {{ getDiscountPrice() | number : "1.2-2" }} лв.</p>
    </div>
    <div class="total-price">
      <h4>Общо: {{ getTotalPrice() | number : "1.2-2" }} лв.</h4>
    </div>
  </div>

  <div
    *ngIf="
      userService.currentUser != null && orderItems && orderItems.length != 0
    "
    class="form-group"
  >
    <label for="discount" class="discount"
      >Въведете Вашия
      <strong class="discount-code">промокод</strong> тук:</label
    >
    <div class="discount-container">
      <input
        type="text"
        class="form-control discount-input"
        [(ngModel)]="discount.code"
        id="discount"
      />
      <div class="btn-wrapper">
        <button (click)="getDiscount(discount.code)" class="btn btn-success">
          Приложи
        </button>
      </div>
    </div>
  </div>
</div>
