.container {
    margin-top: 10rem;
    background-color: #ebebeb;
    padding: 3rem;
    border-radius: 12px;
    width: 30%;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.login-form {
    margin-top: 6rem;
    width: 30%;
    background-color: #ebebeb;
    padding: 2rem;
    border-radius: 1%;
}

.form-group {
    margin-top: 1rem;
}

.form-group label{
    font-weight: bold;
}

.btn-wrapper {
    text-align: center;
}

button {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;
    padding: 0.7rem 1rem;
}
