.navbar {
    background-color: #f7f7f7;
}

.nav-bar-left {
    margin-left: 1rem;
}

.nav-bar-right {
    margin-right: 1rem;
}

form {
    margin-left: 100rem;
}

.btn {
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-items {
    width: 50%;
}

.btn-hover {
    background-color: transparent;
}

.btn-hover:hover {
    background-color: #ed1c24;
    color: white;
}

.btn-center-text {
    text-align: center;
}

.btn-logout {
    font-weight: bold;
    text-transform: uppercase;

}

.buttons {
    width: 50%;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    margin-top: -10px;
}
 
svg {
    color: #ed1c24;
    margin: 0px -10px 5px -10px;
    width: 20%;
    height: 50%;
}
