<nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="nav-items d-flex justify-content-start">
        <div class="p-2">
            <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        </div>
        <div class="p-2">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <button routerLink="/login" class="btn btn-hover" type="button">Меню</button>
                </li>
                <li class="nav-item">
                    <button routerLink="/registration" class="btn btn-hover" type="button">Друго</button>
                </li>
              </ul>
        </div>
      </div>
      <div class="buttons d-flex justify-content-end">
        <div class="ml-auto p-2">
            <button *ngIf="userService.currentUser == null" routerLink="/login" class="btn btn-outline-success" type="button">Вход</button>
            <button *ngIf="userService.currentUser != null" (click)="userService.logout()" routerLink="/login" class="btn btn-outline-danger" type="button">Изход</button>
            <button *ngIf="userService.currentUser == null" routerLink="/registration" class="btn btn-outline-primary" type="button">Регистриране</button>
            <button *ngIf="userService.currentUser != null" routerLink="/registration" class="btn btn-outline-primary" type="button">Профил</button>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Количка</a></li>
          <li><a class="dropdown-item" href="#">Настройки</a></li>
          <li><a class="dropdown-item" href="#">Изход</a></li>
        </ul>
      </div>
</nav>